.summary {
  text-align: center;
  animation: summary-appear 1s;
}

.summary h2 {
  font-size: 2rem;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
.column {
  .column {
    width: 25%;
    /* Should be removed. Only for demonstration */
  }
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
img {
  border-radius: 50%;
  width: 70%;
  height: 155%;
  transition: 0.5s;
  animation: im-appear 1s;
}
img:hover {
  opacity: 0.5;
  transition: 0.5s;
}



/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .column {
    .column {
      width: 33%;
    }
  }

  img {
    border-radius: 8%;
    width: 80%;
    height: 135%;
    
  }
}

h1 {
  font-size: 50px;
}

@keyframes summary-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes im-appear {
  from {
    opacity: 0;
    transform: translateY(5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

