.summary {
  text-align: center;
  
  
}

.summary h2 {
  font-size: 2rem;
  
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}
.column {
  .column {
    width: 25%;
    /* Should be removed. Only for demonstration */
  }
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
img {
  border-radius: 50%;
  width: 60%;
  height: 130%;
  
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .column {
    .column {
      width: 33%;
    }
  }
}

h1 {
  font-size: 50px;
}
