.experience{
  animation: experience-appear 1s ;
}
@keyframes experience-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.calender{
  color: gray;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
      float: left;
      width: 50%;
      padding: 10px;
      margin-left: -15px;
    /* Should be removed. Only for demonstration */
  }
  hr {
    width: 95%;
    margin-left: 2%;
  }
   h2{
    text-align: center;
    color: brown;
   }
  
   @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
    .column {
      .column {
        width: 100%;
        margin-left: 15px;
      }
    }
  }