.row:after {
  content: "";
  display: table;
  text-align: center;
}

hr {
  width: 95%;
  margin-left: 2%;
}
.links{
  color: black;
}
 .column {
  float: left;
  width: 33%;
  padding: 5%;
  text-align: center;
 
} 

.icons {
  height: 20px;
  width: 20px;
}
/* @media only screen and (max-width: 1024px) { */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .column1 {
      width: 33%;
  }
}

h1 {
  font-size: 50px;
}
