.highlight{
  animation: highlight-appear 1s ;
}
@keyframes highlight-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
      float: left;
      width: 50%;
      padding: 10px;
    /* Should be removed. Only for demonstration */
  }
  hr {
    width: 95%;
    margin-left: 2%;
  }
   h2{
    text-align: center;
    color: brown;
   }
   /* @media only screen and (max-width: 1024px) { */
   @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
    .column {
      .column {
        width: 100%;
        
      }
    }
  }